 .u-section-1 {
  background-image: url("images/2ba9d38ddc3bcc76c84a39cc93da60178a36bb54e323396ac77d128f9b0cd36cd75bfe7c64c3d383eeecbf3b947c721bf2575d93b6d745e99eeb94_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 992px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 81px auto 0 129px;
}

.u-section-1 .u-shape-1 {
  width: 611px;
  height: 640px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 38px auto 0 33px;
}

.u-section-1 .u-form-1 {
  height: 576px;
  margin: -583px 521px 0 58px;
}

.u-section-1 .u-input-1 {
  font-weight: 700;
}

.u-section-1 .u-input-2 {
  font-weight: 700;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-input-3 {
  font-weight: 700;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-input-4 {
  font-weight: 700;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-input-5 {
  font-weight: 700;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-input-6 {
  font-weight: 700;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-input-7 {
  font-weight: 700;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-input-8 {
  font-weight: 700;
}

.u-section-1 .u-btn-1 {
  background-image: none;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -615px auto 0 71px;
}

.u-section-1 .u-shape-2 {
  width: 336px;
  height: 336px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 106px 57px 0 auto;
}

.u-section-1 .u-line-1 {
  width: 336px;
  transform-origin: right center 0px;
  margin: -288px 57px 0 auto;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 16px 218px 0 auto;
}

.u-section-1 .u-text-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 10px 250px 0 auto;
}

.u-section-1 .u-text-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -76px 69px 0 auto;
}

.u-section-1 .u-text-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 21px 234px 0 auto;
}

.u-section-1 .u-shape-3 {
  width: 15px;
  height: 15px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -63px 272px 0 auto;
}

.u-section-1 .u-shape-4 {
  width: 16px;
  height: 16px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -15px 160px 0 auto;
}

.u-section-1 .u-line-2 {
  width: 342px;
  transform-origin: right center 0px;
  margin: 71px 50px 0 auto;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 3px 224px 0 auto;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -48px 76px 0 auto;
}

.u-section-1 .u-line-3 {
  width: 98px;
  transform-origin: left center 0px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -134px 176px 0 auto;
}

.u-section-1 .u-text-9 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -174px 109px 0 auto;
}

.u-section-1 .u-text-10 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 109px 202px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 818px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -6px;
  }

  .u-section-1 .u-form-1 {
    margin-top: -191px;
    margin-right: 379px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -393px;
  }

  .u-section-1 .u-line-1 {
    margin-top: -344px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -107px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -163px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 627px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 159px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 191px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
    margin-top: 137px;
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    margin-top: -334px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 164px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 143px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 176px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 168px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 152px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 389px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 81px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -456px;
    margin-right: 4px;
  }

  .u-section-1 .u-line-1 {
    margin-top: -314px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 103px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 90px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 111px;
  }

  .u-section-1 .u-line-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 106px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -31px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -201px;
    margin-right: 96px;
  }
}