 .u-section-1 {
  background-image: url("images/2ba9d38ddc3bcc76c84a39cc93da60178a36bb54e323396ac77d128f9b0cd36cd75bfe7c64c3d383eeecbf3b947c721bf2575d93b6d745e99eeb94_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1024px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 95px auto 0 122px;
}

.u-section-1 .u-shape-1 {
  width: 611px;
  height: 710px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 57px auto 0 33px;
}

.u-section-1 .u-form-1 {
  height: 576px;
  margin: -614px 528px 0 51px;
}

.u-section-1 .u-input-1 {
  font-weight: 700;
}

.u-section-1 .u-input-2 {
  font-weight: 700;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-input-3 {
  font-weight: 700;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-input-4 {
  font-weight: 700;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-input-5 {
  font-weight: 700;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-input-6 {
  font-weight: 700;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-input-7 {
  font-weight: 700;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-input-8 {
  font-weight: 700;
}

.u-section-1 .u-btn-1 {
  background-image: none;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -625px auto 0 68px;
}

.u-section-1 .u-shape-2 {
  width: 460px;
  height: 460px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -23px 0 0 auto;
}

.u-section-1 .u-text-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -450px 114px 0 auto;
}

.u-section-1 .u-line-1 {
  width: 460px;
  transform-origin: right center 0px;
  margin: 6px 0 0 auto;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 10px 283px 0 auto;
}

.u-section-1 .u-text-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 12px 304px 0 auto;
}

.u-section-1 .u-text-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -78px 31px 0 auto;
}

.u-section-1 .u-text-7 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 15px 291px 0 auto;
}

.u-section-1 .u-shape-3 {
  width: 15px;
  height: 15px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -59px 304px 0 auto;
}

.u-section-1 .u-shape-4 {
  width: 16px;
  height: 16px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -15px 144px 0 auto;
}

.u-section-1 .u-text-8 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -35px 206px 0 auto;
}

.u-section-1 .u-text-9 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 65px 298px 0 auto;
}

.u-section-1 .u-text-10 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -76px 31px 0 auto;
}

.u-section-1 .u-text-11 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 16px 233px 0 auto;
}

.u-section-1 .u-line-2 {
  width: 149px;
  transform-origin: right center 0px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -59px 159px 0 auto;
}

.u-section-1 .u-shape-5 {
  width: 15px;
  height: 15px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -9px 144px 0 auto;
}

.u-section-1 .u-shape-6 {
  width: 15px;
  height: 15px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -15px 304px 0 auto;
}

.u-section-1 .u-text-12 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -34px 202px 0 auto;
}

.u-section-1 .u-line-3 {
  width: 149px;
  transform-origin: left center 0px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -126px 159px 0 auto;
}

.u-section-1 .u-shape-7 {
  width: 459px;
  height: 231px;
  margin: 183px 0 0 auto;
}

.u-section-1 .u-text-13 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -223px 298px 0 auto;
}

.u-section-1 .u-text-14 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -76px 26px 0 auto;
}

.u-section-1 .u-text-15 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 13px 233px 0 auto;
}

.u-section-1 .u-line-4 {
  width: 460px;
  transform-origin: right center 0px;
  margin: 16px 0 0 auto;
}

.u-section-1 .u-text-16 {
  font-size: 1.25rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 9px 281px 0 auto;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -51px 20px 0 auto;
}

.u-section-1 .u-line-5 {
  width: 149px;
  transform-origin: right center 0px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -123px 156px 0 auto;
}

.u-section-1 .u-shape-8 {
  width: 15px;
  height: 15px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -9px 304px 0 auto;
}

.u-section-1 .u-shape-9 {
  width: 15px;
  height: 15px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -15px 144px 0 auto;
}

.u-section-1 .u-text-18 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -37px 201px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 844px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -6px;
  }

  .u-section-1 .u-form-1 {
    margin-top: -191px;
    margin-right: 379px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -323px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -222px;
  }

  .u-section-1 .u-text-15 {
    margin-top: 10px;
  }

  .u-section-1 .u-line-4 {
    margin-top: 75px;
  }

  .u-section-1 .u-text-16 {
    margin-top: -44px;
  }

  .u-section-1 .u-line-5 {
    margin-top: -83px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 646px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 159px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 217px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 233px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 223px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 228px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 228px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 215px;
  }

  .u-section-1 .u-line-5 {
    margin-top: -123px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 485px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
    margin-top: 137px;
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    margin-top: -334px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 163px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 175px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 167px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 155px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 171px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 175px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 152px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 171px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 175px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 161px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 151px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 185px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 77px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-shape-2 {
    width: 340px;
    height: 340px;
    margin-top: -310px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -330px;
    margin-right: 72px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 103px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 110px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 105px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 98px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 108px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 110px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 96px;
  }

  .u-section-1 .u-shape-7 {
    width: 340px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 108px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 110px;
  }

  .u-section-1 .u-line-4 {
    width: 340px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 101px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 95px;
  }
}