.u-section-1 .u-sheet-1 {
  min-height: 559px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 767px) {
  .u-section-1 .embed-responsive-1 {
    width: 184%;
    left: -42%;
    height: 100%;
    top: 0%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .embed-responsive-1 {
    width: 292%;
    left: -96%;
  }
} .u-section-2 {
  background-image: url("images/gb877c63d6165d07423504bf316efb7b075fe0fb8a0b09908eeafc088f688584f46fdaaaf17127f29544fdfc5f195a1dc02f6ad3490fe0d4094c49c53b6138bbb_1280.jpg");
  background-position: 50% 50%;
  min-height: 1549px;
}

.u-section-2 .u-image-1 {
  width: 510px;
  height: 837px;
  margin: 40px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-2 .u-layout-wrap-1 {
  width: 612px;
  margin: -461px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-image-2 {
  background-image: url("images/fd82abbe6e752a9e6409d93d5f0cd2c9.jpeg");
  min-height: 149px;
  background-position: 50% 50%;
}

.u-section-2 .u-image-3 {
  background-image: url("images/785174b432eaca528dae8ccf8743e7fe.jpeg");
  min-height: 149px;
  background-position: 50% 50%;
}

.u-section-2 .u-image-4 {
  background-image: url("images/eae994be5e22e32ce1e5de85956b33c0.jpeg");
  min-height: 149px;
  background-position: 50% 50%;
}

.u-section-2 .u-image-5 {
  background-image: url("images/43630f753925fe0a8317c34eed3a582c.jpeg");
  min-height: 149px;
  background-position: 50% 50%;
}

.u-section-2 .u-image-6 {
  background-image: url("images/90112f50fd59eb8cfba427bee3606572.jpeg");
  min-height: 149px;
  background-position: 50% 50%;
}

.u-section-2 .u-image-7 {
  background-image: url("images/d620a4d52ebfada3f77fdf0381030bd0.jpeg");
  min-height: 149px;
  background-position: 50% 50%;
}

.u-section-2 .u-image-8 {
  background-image: url("images/b6330ddb3bfd7a6c61a4c2b3d2896436.jpeg");
  min-height: 149px;
  background-position: 50% 50%;
}

.u-section-2 .u-image-9 {
  background-image: url("images/990251004eee3e3fec72bec774285d35.jpeg");
  min-height: 149px;
  background-position: 50% 50%;
}

.u-section-2 .u-image-10 {
  width: 776px;
  height: 565px;
  margin: 117px auto 0 calc(((100% - 1140px) / 2) + 2px);
}

.u-section-2 .u-group-1 {
  min-height: 433px;
  width: calc(((100% - 1140px) / 2) + 327px);
  margin: -466px 0 0 auto;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 1.5625rem;
  margin: 70px 15px 0;
}

.u-section-2 .u-custom-html-1 {
  margin-top: -1292px;
  margin-bottom: 0;
  min-height: 322px;
  margin-left: calc(((100% - 1140px) / 2) + -37px);
  width: 640px;
}

.u-section-2 .u-gallery-1 {
  height: 351px;
  width: 610px;
  margin: -336px auto 60px calc(((100% - 1140px) / 2));
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 10px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 10px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 1384px;
  }

  .u-section-2 .u-image-1 {
    position: relative;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-image-10 {
    position: relative;
    margin-left: calc(((100% - 940px) / 2) + 2px);
  }

  .u-section-2 .u-group-1 {
    position: relative;
    width: calc(((100% - 940px) / 2) + 327px);
  }

  .u-section-2 .u-custom-html-1 {
    height: auto;
    margin-left: calc(((100% - 940px) / 2) + -37px);
  }

  .u-section-2 .u-gallery-1 {
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 937px;
  }

  .u-section-2 .u-image-1 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-image-10 {
    width: 720px;
    height: 524px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-group-1 {
    width: calc(((100% - 720px) / 2) + 327px);
    margin-top: -425px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-left: calc(((100% - 720px) / 2) + -37px);
  }

  .u-section-2 .u-gallery-1 {
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 5261px;
  }

  .u-section-2 .u-image-1 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-image-2 {
    min-height: 526px;
  }

  .u-section-2 .u-image-3 {
    min-height: 526px;
  }

  .u-section-2 .u-image-4 {
    min-height: 526px;
  }

  .u-section-2 .u-image-5 {
    min-height: 526px;
  }

  .u-section-2 .u-image-6 {
    min-height: 526px;
  }

  .u-section-2 .u-image-7 {
    min-height: 526px;
  }

  .u-section-2 .u-image-8 {
    min-height: 526px;
  }

  .u-section-2 .u-image-9 {
    min-height: 526px;
  }

  .u-section-2 .u-image-10 {
    width: 540px;
    height: 393px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-group-1 {
    width: calc(((100% - 540px) / 2) + 327px);
    margin-top: -294px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-left: calc(((100% - 540px) / 2));
    width: 540px;
  }

  .u-section-2 .u-gallery-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 3701px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 558px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -182px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-image-2 {
    min-height: 331px;
  }

  .u-section-2 .u-image-3 {
    min-height: 331px;
  }

  .u-section-2 .u-image-4 {
    min-height: 331px;
  }

  .u-section-2 .u-image-5 {
    min-height: 331px;
  }

  .u-section-2 .u-image-6 {
    min-height: 331px;
  }

  .u-section-2 .u-image-7 {
    min-height: 331px;
  }

  .u-section-2 .u-image-8 {
    min-height: 331px;
  }

  .u-section-2 .u-image-9 {
    min-height: 331px;
  }

  .u-section-2 .u-image-10 {
    width: 340px;
    height: 247px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-group-1 {
    width: calc(((100% - 340px) / 2) + 327px);
    margin-top: -148px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-left: calc(((100% - 340px) / 2));
    width: 340px;
  }

  .u-section-2 .u-gallery-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }
} .u-section-3 {
  background-image: url("images/gb877c63d6165d07423504bf316efb7b075fe0fb8a0b09908eeafc088f688584f46fdaaaf17127f29544fdfc5f195a1dc02f6ad3490fe0d4094c49c53b6138bbb_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 250px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 auto 25px 80px;
}

.u-section-3 .u-image-1 {
  background-image: url("images/3e5137d3173ecfe507adb3a843027c82.jpeg");
  background-position: 50% 50%;
  min-height: 176px;
}

.u-section-3 .u-image-2 {
  background-image: url("images/5071f7b8814ac01c01b33f1d8d712ccb.jpeg");
  background-position: 50% 50%;
  min-height: 176px;
}

.u-section-3 .u-image-3 {
  background-image: url("images/090f99c8ed5a4b908dd68f5a720bdc55.jpeg");
  background-position: 50% 50%;
  min-height: 176px;
}

.u-section-3 .u-image-4 {
  background-image: url("images/1f6fbccdb478e6551b8d8bfe4e23791e.jpeg");
  background-position: 50% 50%;
  min-height: 176px;
}

.u-section-3 .u-image-5 {
  background-image: url("images/7ca0ec6ace4850750e6f75a32e2ddc37.jpeg");
  background-position: 50% 50%;
  min-height: 176px;
}

.u-section-3 .u-image-6 {
  background-image: url("images/cb2d1c8627e46ba6a3704bc71bbf41ba.jpeg");
  background-position: 50% 50%;
  min-height: 176px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    width: 990px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 493px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 395px;
    margin-bottom: 50px;
    margin-left: 325px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 770px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 301px;
    margin-bottom: 64px;
    margin-left: 240px;
  }

  .u-section-3 .u-image-1 {
    min-height: 235px;
  }

  .u-section-3 .u-image-2 {
    min-height: 235px;
  }

  .u-section-3 .u-image-3 {
    min-height: 235px;
  }

  .u-section-3 .u-image-4 {
    min-height: 235px;
  }

  .u-section-3 .u-image-5 {
    min-height: 235px;
  }

  .u-section-3 .u-image-6 {
    min-height: 235px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-right: -54px;
    margin-left: 54px;
  }
} .u-section-4 {
  background-image: url("images/gb877c63d6165d07423504bf316efb7b075fe0fb8a0b09908eeafc088f688584f46fdaaaf17127f29544fdfc5f195a1dc02f6ad3490fe0d4094c49c53b6138bbb_1280.jpg");
  background-position: 50% 50%;
  min-height: 715px;
}

.u-section-4 .u-line-1 {
  transform-origin: left center;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-image-1 {
  width: 754px;
  height: 482px;
  margin: 68px auto 0 0;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  margin: -401px calc(((100% - 1140px) / 2) + -21px) 0 calc(((100% - 1140px) / 2) + 729px);
}

.u-section-4 .u-line-2 {
  transform-origin: left center;
  margin-top: 240px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 590px;
  }

  .u-section-4 .u-image-1 {
    position: relative;
  }

  .u-section-4 .u-text-1 {
    margin-top: 20px;
    margin-right: calc(((100% - 940px) / 2) + -21px);
    margin-left: calc(((100% - 940px) / 2) + 629px);
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 418px;
  }

  .u-section-4 .u-image-1 {
    width: 720px;
    height: 460px;
  }

  .u-section-4 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + -21px);
    margin-left: calc(((100% - 720px) / 2) + 519px);
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 303px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 345px;
  }

  .u-section-4 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + -21px);
    margin-left: calc(((100% - 540px) / 2) + 429px);
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 175px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 217px;
  }

  .u-section-4 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2) + -21px);
    margin-left: calc(((100% - 340px) / 2) + 329px);
  }
} .u-section-5 {
  background-image: url("images/gb877c63d6165d07423504bf316efb7b075fe0fb8a0b09908eeafc088f688584f46fdaaaf17127f29544fdfc5f195a1dc02f6ad3490fe0d4094c49c53b6138bbb_1280.jpg");
  background-position: 50% 50%;
  min-height: 1121px;
}

.u-section-5 .u-shape-1 {
  height: 580px;
  width: calc(((100% - 1140px) / 2) + 1205px);
  margin: 106px calc(((100% - 1140px) / 2) + -65px) 0 auto;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: -580px;
  margin-bottom: 0;
}

.u-section-5 .u-image-1 {
  background-image: url("https://images01.nicepage.com/c4/bc/c4bca87c8c371c77dfc4212505abc985.jpeg");
  min-height: 580px;
  background-position: 50% 50%;
}

.u-section-5 .u-image-2 {
  min-height: 580px;
  background-image: url("images/gb877c63d6165d07423504bf316efb7b075fe0fb8a0b09908eeafc088f688584f46fdaaaf17127f29544fdfc5f195a1dc02f6ad3490fe0d4094c49c53b6138bbb_1280.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding-bottom: 0;
}

.u-section-5 .u-text-1 {
  margin: 106px 20px 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 29px -9px 0 49px;
}

.u-section-5 .u-image-3 {
  width: 739px;
  height: 367px;
  margin: -49px calc(((100% - 1140px) / 2) + -48px) 0 auto;
}

.u-section-5 .u-text-3 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: -188px calc(((100% - 1140px) / 2) + 720px) 60px calc(((100% - 1140px) / 2) + -12px);
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 788px;
  }

  .u-section-5 .u-shape-1 {
    position: relative;
    width: calc(((100% - 940px) / 2) + 1205px);
    margin-right: calc(((100% - 940px) / 2) + -65px);
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-5 .u-image-1 {
    min-height: 478px;
  }

  .u-section-5 .u-image-2 {
    min-height: 478px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-image-3 {
    position: relative;
    margin-right: calc(((100% - 940px) / 2) + -48px);
  }

  .u-section-5 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2) + 620px);
    margin-left: calc(((100% - 940px) / 2) + -12px);
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 684px;
  }

  .u-section-5 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 1205px);
    margin-right: calc(((100% - 720px) / 2) + -65px);
  }

  .u-section-5 .u-image-1 {
    min-height: 366px;
    background-position: 93.82% 0%;
  }

  .u-section-5 .u-image-2 {
    min-height: 366px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-image-3 {
    margin-right: calc(((100% - 720px) / 2) + -48px);
  }

  .u-section-5 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2) + 510px);
    margin-left: calc(((100% - 720px) / 2) + -12px);
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 1548px;
  }

  .u-section-5 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 1205px);
    margin-right: calc(((100% - 540px) / 2) + -65px);
  }

  .u-section-5 .u-image-1 {
    min-height: 549px;
  }

  .u-section-5 .u-image-2 {
    min-height: 549px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-image-3 {
    width: 540px;
    height: 268px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-text-3 {
    margin-top: -89px;
    margin-right: calc(((100% - 540px) / 2) + 420px);
    margin-left: calc(((100% - 540px) / 2) + -12px);
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 2310px;
  }

  .u-section-5 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 1205px);
    margin-right: calc(((100% - 340px) / 2) + -65px);
  }

  .u-section-5 .u-image-1 {
    min-height: 346px;
  }

  .u-section-5 .u-image-2 {
    min-height: 346px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-image-3 {
    width: 340px;
    height: 169px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-text-3 {
    margin-top: 10px;
    margin-right: calc(((100% - 340px) / 2) + 320px);
    margin-left: calc(((100% - 340px) / 2) + -12px);
  }
} .u-section-6 {
  background-image: url("images/gb877c63d6165d07423504bf316efb7b075fe0fb8a0b09908eeafc088f688584f46fdaaaf17127f29544fdfc5f195a1dc02f6ad3490fe0d4094c49c53b6138bbb_1280.jpg");
  background-position: 50% 50%;
  min-height: 276px;
}

.u-section-6 .u-line-1 {
  transform-origin: right center;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1068px;
  margin: 19px auto 22px calc(((100% - 1140px) / 2) + 36px);
}

.u-section-6 .u-layout-cell-1 {
  min-height: 232px;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-icon-1 {
  height: 112px;
  width: 115px;
  margin: 25px auto 0;
  padding: 10px;
}

.u-section-6 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: -95px 30px 0;
}

.u-section-6 .u-text-2 {
  width: 207px;
  font-style: italic;
  margin: 50px auto 25px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 232px;
  background-position: 0% 0%;
}

.u-section-6 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-icon-2 {
  height: 112px;
  width: 115px;
  margin: 25px auto 0;
  padding: 10px;
}

.u-section-6 .u-text-3 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: -95px 30px 0;
}

.u-section-6 .u-text-4 {
  width: 207px;
  font-style: italic;
  margin: 50px auto 25px;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 232px;
  background-position: 0% 0%;
}

.u-section-6 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-icon-3 {
  height: 112px;
  width: 115px;
  margin: 25px auto 0;
  padding: 10px;
}

.u-section-6 .u-text-5 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: -95px 30px 0;
}

.u-section-6 .u-text-6 {
  width: 207px;
  font-style: italic;
  margin: 50px auto 25px;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 232px;
  background-position: 0% 0%;
}

.u-section-6 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-icon-4 {
  height: 112px;
  width: 115px;
  margin: 0 auto;
  padding: 10px;
}

.u-section-6 .u-text-7 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: -95px 30px 0;
}

.u-section-6 .u-text-8 {
  width: 207px;
  font-style: italic;
  margin: 50px auto 0;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 200px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
    width: 881px;
    margin-left: calc(((100% - 1140px) / 2) + 130px);
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 204px;
  }

  .u-section-6 .u-icon-1 {
    position: relative;
  }

  .u-section-6 .u-text-1 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-6 .u-text-2 {
    width: 171px;
    position: relative;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 204px;
  }

  .u-section-6 .u-icon-2 {
    position: relative;
  }

  .u-section-6 .u-text-3 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-6 .u-text-4 {
    width: 171px;
    position: relative;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 204px;
  }

  .u-section-6 .u-icon-3 {
    position: relative;
  }

  .u-section-6 .u-text-5 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-6 .u-text-6 {
    width: 171px;
    position: relative;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 204px;
  }

  .u-section-6 .u-icon-4 {
    position: relative;
  }

  .u-section-6 .u-text-7 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-6 .u-text-8 {
    width: 171px;
    position: relative;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 196px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 675px;
    margin-top: -228px;
    margin-bottom: 0;
    margin-left: calc(((100% - 1140px) / 2) + 233px);
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-6 .u-text-2 {
    width: 131px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-6 .u-text-4 {
    width: 131px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-6 .u-text-6 {
    width: 131px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-6 .u-text-8 {
    width: 131px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 296px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 506px;
    margin-top: 20px;
    margin-left: calc(((100% - 1140px) / 2) + 317px);
    margin-bottom: 22px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 14px;
    margin-right: 14px;
    position: relative;
  }

  .u-section-6 .u-text-2 {
    width: 123px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 14px;
    margin-right: 14px;
    position: relative;
  }

  .u-section-6 .u-text-4 {
    width: 123px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 14px;
    margin-right: 14px;
    position: relative;
  }

  .u-section-6 .u-text-6 {
    width: 123px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 14px;
    margin-right: 14px;
    position: relative;
  }

  .u-section-6 .u-text-8 {
    width: 123px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-wrap-1 {
    width: 319px;
    margin-left: calc(((100% - 1140px) / 2) + 411px);
  }

  .u-section-6 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-2 {
    width: 103px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-4 {
    width: 103px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-6 {
    width: 103px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-8 {
    width: 103px;
  }
} .u-section-7 {
  background-image: url("images/gb877c63d6165d07423504bf316efb7b075fe0fb8a0b09908eeafc088f688584f46fdaaaf17127f29544fdfc5f195a1dc02f6ad3490fe0d4094c49c53b6138bbb_1280.jpg");
  background-position: 50% 50%;
  min-height: 1180px;
}

.u-section-7 .u-line-1 {
  transform-origin: left center;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 16px auto 0 calc(((100% - 1140px) / 2) + 329px);
}

.u-section-7 .u-text-2 {
  font-weight: 400;
  font-size: 1.25rem;
  font-style: italic;
  text-decoration: none solid rgb(165, 183, 221);
  margin: 11px calc(((100% - 1140px) / 2) + 63px) 0;
}

.u-section-7 .u-image-1 {
  width: 582px;
  height: 329px;
  margin: 68px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-7 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: underline !important;
  margin: -284px calc(((100% - 1140px) / 2) + -207px) 0 calc(((100% - 1140px) / 2) + 332px);
}

.u-section-7 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 11px calc(((100% - 1140px) / 2) + 200px) 0 calc(((100% - 1140px) / 2) + 719px);
}

.u-section-7 .u-image-2 {
  width: 558px;
  height: 301px;
  margin: 72px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-7 .u-text-5 {
  font-weight: 400;
  font-size: 1.5rem;
  text-decoration: underline !important;
  margin: -269px calc(((100% - 1140px) / 2) + 703px) 0 calc(((100% - 1140px) / 2) + 144px);
}

.u-section-7 .u-text-6 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 11px calc(((100% - 1140px) / 2) + 721px) 0 calc(((100% - 1140px) / 2) + 162px);
}

.u-section-7 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -141px auto 0 calc(((100% - 1140px) / 2) + 79px);
}

.u-section-7 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -376px calc(((100% - 1140px) / 2) + 120px) 0 auto;
}

.u-section-7 .u-image-3 {
  width: 582px;
  height: 297px;
  margin: 423px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-7 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -281px calc(((100% - 1140px) / 2) + 120px) 0 calc(((100% - 1140px) / 2) + 702px);
}

.u-section-7 .u-text-8 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 11px calc(((100% - 1140px) / 2) + 120px) 0 calc(((100% - 1140px) / 2) + 702px);
}

.u-section-7 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: -141px calc(((100% - 1140px) / 2) + 22px) 0 auto;
}

.u-section-7 .u-line-2 {
  transform-origin: left center;
  margin-top: 171px;
  margin-bottom: 16px;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 973px;
  }

  .u-section-7 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 100px);
    margin-right: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-7 .u-image-1 {
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-7 .u-text-3 {
    margin-left: calc(((100% - 1140px) / 2) + 100px);
    margin-right: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-7 .u-image-2 {
    height: 300px;
    margin-right: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-7 .u-text-5 {
    margin-left: calc(((100% - 1140px) / 2) + 288px);
  }

  .u-section-7 .u-text-6 {
    margin-left: calc(((100% - 1140px) / 2) + 244px);
  }

  .u-section-7 .u-icon-1 {
    margin-left: calc(((100% - 1140px) / 2) + 179px);
  }

  .u-section-7 .u-icon-2 {
    margin-right: calc(((100% - 1140px) / 2) + 220px);
  }

  .u-section-7 .u-image-3 {
    height: 298px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-7 .u-text-7 {
    margin-top: 20px;
    margin-left: calc(((100% - 1140px) / 2) + 262px);
  }

  .u-section-7 .u-icon-3 {
    margin-top: 20px;
    margin-right: calc(((100% - 1140px) / 2) + 122px);
  }

  .u-section-7 .u-line-2 {
    height: 3px;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 745px;
  }

  .u-section-7 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-7 .u-image-1 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-7 .u-text-3 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-7 .u-text-4 {
    margin-right: calc(((100% - 1140px) / 2) + 210px);
    margin-left: calc(((100% - 1140px) / 2) + 709px);
  }

  .u-section-7 .u-image-2 {
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-7 .u-text-5 {
    margin-top: 20px;
    margin-right: calc(((100% - 1140px) / 2) + 637px);
    margin-left: calc(((100% - 1140px) / 2) + 398px);
  }

  .u-section-7 .u-text-6 {
    margin-right: calc(((100% - 1140px) / 2) + 673px);
    margin-left: calc(((100% - 1140px) / 2) + 354px);
  }

  .u-section-7 .u-icon-1 {
    margin-left: calc(((100% - 1140px) / 2) + 289px);
  }

  .u-section-7 .u-icon-2 {
    margin-right: calc(((100% - 1140px) / 2) + 330px);
  }

  .u-section-7 .u-image-3 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-7 .u-text-7 {
    margin-right: calc(((100% - 1140px) / 2) + 210px);
    margin-left: calc(((100% - 1140px) / 2) + 372px);
  }

  .u-section-7 .u-text-8 {
    margin-right: calc(((100% - 1140px) / 2) + 210px);
    margin-left: calc(((100% - 1140px) / 2) + 612px);
  }

  .u-section-7 .u-icon-3 {
    margin-right: calc(((100% - 1140px) / 2) + 232px);
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 504px;
  }

  .u-section-7 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-7 .u-image-1 {
    width: 540px;
    height: 305px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-7 .u-text-3 {
    margin-top: -260px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-7 .u-text-4 {
    margin-right: calc(((100% - 1140px) / 2) + 300px);
    margin-left: calc(((100% - 1140px) / 2) + 619px);
  }

  .u-section-7 .u-image-2 {
    width: 540px;
    height: 290px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-7 .u-text-5 {
    margin-right: calc(((100% - 1140px) / 2) + 547px);
    margin-left: calc(((100% - 1140px) / 2) + 441px);
  }

  .u-section-7 .u-text-6 {
    margin-right: calc(((100% - 1140px) / 2) + 583px);
    margin-left: calc(((100% - 1140px) / 2) + 444px);
  }

  .u-section-7 .u-icon-1 {
    margin-left: calc(((100% - 1140px) / 2) + 379px);
  }

  .u-section-7 .u-icon-2 {
    margin-right: calc(((100% - 1140px) / 2) + 420px);
  }

  .u-section-7 .u-image-3 {
    width: 540px;
    height: 276px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-7 .u-text-7 {
    margin-right: calc(((100% - 1140px) / 2) + 300px);
    margin-left: calc(((100% - 1140px) / 2) + 462px);
  }

  .u-section-7 .u-text-8 {
    margin-right: calc(((100% - 1140px) / 2) + 300px);
    margin-left: calc(((100% - 1140px) / 2) + 522px);
  }

  .u-section-7 .u-icon-3 {
    margin-right: calc(((100% - 1140px) / 2) + 322px);
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 181px;
  }

  .u-section-7 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-7 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 192px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-7 .u-text-3 {
    margin-top: -147px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-7 .u-text-4 {
    margin-right: calc(((100% - 1140px) / 2) + 400px);
    margin-left: calc(((100% - 1140px) / 2) + 519px);
  }

  .u-section-7 .u-image-2 {
    width: 340px;
    height: 183px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-7 .u-text-5 {
    margin-right: calc(((100% - 1140px) / 2) + 447px);
    margin-left: calc(((100% - 1140px) / 2) + 489px);
  }

  .u-section-7 .u-text-6 {
    margin-right: calc(((100% - 1140px) / 2) + 483px);
    margin-left: calc(((100% - 1140px) / 2) + 491px);
  }

  .u-section-7 .u-icon-1 {
    margin-top: 20px;
    margin-left: calc(((100% - 1140px) / 2) + 479px);
  }

  .u-section-7 .u-icon-2 {
    margin-right: calc(((100% - 1140px) / 2) + 476px);
  }

  .u-section-7 .u-image-3 {
    width: 340px;
    height: 174px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-7 .u-text-7 {
    margin-right: calc(((100% - 1140px) / 2) + 400px);
    margin-left: calc(((100% - 1140px) / 2) + 502px);
  }

  .u-section-7 .u-text-8 {
    margin-right: calc(((100% - 1140px) / 2) + 400px);
    margin-left: calc(((100% - 1140px) / 2) + 422px);
  }

  .u-section-7 .u-icon-3 {
    margin-right: calc(((100% - 1140px) / 2) + 422px);
  }
} .u-section-8 {
  background-image: url("images/gb877c63d6165d07423504bf316efb7b075fe0fb8a0b09908eeafc088f688584f46fdaaaf17127f29544fdfc5f195a1dc02f6ad3490fe0d4094c49c53b6138bbb_1280.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 668px;
}

.u-section-8 .u-text-1 {
  font-weight: 400;
  margin: 149px 712px 0 51px;
}

.u-section-8 .u-form-1 {
  height: 363px;
  background-image: none;
  margin: -294px 35px 0 488px;
}

.u-section-8 .u-label-1 {
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-8 .u-input-1 {
  font-weight: 900;
}

.u-section-8 .u-label-2 {
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-8 .u-input-2 {
  font-weight: 900;
}

.u-section-8 .u-label-3 {
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-8 .u-input-3 {
  font-weight: 900;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  font-weight: 700;
}

.u-section-8 .u-social-icons-1 {
  white-space: nowrap;
  height: 53px;
  min-height: 16px;
  width: 368px;
  min-width: 146px;
  margin: -53px auto 60px 35px;
}

.u-section-8 .u-icon-1 {
  height: 100%;
}

.u-section-8 .u-icon-2 {
  height: 100%;
}

.u-section-8 .u-icon-3 {
  height: 100%;
}

.u-section-8 .u-icon-4 {
  height: 100%;
}

.u-section-8 .u-icon-5 {
  height: 100%;
}

.u-section-8 .u-icon-6 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 596px;
    margin-right: 562px;
    margin-left: 113px;
  }

  .u-section-8 .u-form-1 {
    margin-top: -744px;
    margin-right: 0;
    margin-left: 323px;
  }

  .u-section-8 .u-btn-1 {
    border-style: none;
    padding: 0;
  }

  .u-section-8 .u-social-icons-1 {
    width: 270px;
    margin-top: 469px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 422px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 342px;
  }

  .u-section-8 .u-form-1 {
    margin-left: 103px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 162px;
  }

  .u-section-8 .u-form-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 0;
  }

  .u-section-8 .u-form-1 {
    margin-top: -821px;
  }

  .u-section-8 .u-social-icons-1 {
    margin-top: 546px;
  }
}