 .u-section-1 {
  background-image: url("images/ebdd1e048c4a4468f4ce71032ca849e282aa2e160c462c6223ba2757caa50c0f6878096ad12936e1fc89d49179fa31e2b536198a1236817c637891_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 483px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 110px auto 0;
}

.u-section-1 .u-shape-1 {
  height: 111px;
  background-image: none;
  width: 1200px;
  margin: 47px -30px 0;
}

.u-section-1 .u-form-1 {
  height: 111px;
  width: 1214px;
  margin: -111px -37px 60px;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
  letter-spacing: normal;
}

.u-section-1 .u-input-1 {
  height: 50px;
  letter-spacing: 0px;
  font-weight: 700;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
  letter-spacing: normal;
}

.u-section-1 .u-input-2 {
  height: 50px;
  letter-spacing: 0px;
  font-weight: 700;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-weight: 700;
  letter-spacing: normal;
}

.u-section-1 .u-input-3 {
  height: 50px;
  letter-spacing: 0px;
  font-weight: 700;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-weight: 700;
  letter-spacing: normal;
}

.u-section-1 .u-input-4 {
  height: 50px;
  letter-spacing: 0px;
  font-weight: 700;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-label-5 {
  font-weight: 700;
  letter-spacing: normal;
}

.u-section-1 .u-input-5 {
  height: 50px;
  letter-spacing: 0px;
  font-weight: 700;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 12px 30px 13px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 462px;
  }

  .u-section-1 .u-shape-1 {
    width: 940px;
    margin-top: 228px;
    margin-right: 0;
    margin-left: 100px;
  }

  .u-section-1 .u-form-1 {
    width: 940px;
    margin-top: -217px;
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 643px;
  }

  .u-section-1 .u-shape-1 {
    width: 720px;
    margin-left: 210px;
  }

  .u-section-1 .u-form-1 {
    width: 720px;
    margin-left: 210px;
    margin-right: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 927px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
    margin-top: 512px;
    margin-left: 300px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
    margin-top: -510px;
    margin-left: 300px;
    margin-right: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 463px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    margin-left: 400px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
    margin-left: 400px;
    margin-right: 400px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/d1db7f260bfe92c83c2c6b4da50908e5ee687c085fc7cf9426091c57d87b37089ecf1471ac76fb66c0bba1a6e8d204b7abd6ea3cc3aaea2db6b9bd_1280.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 2142px;
}

.u-section-2 .u-text-1 {
  width: 417px;
  font-weight: 700;
  font-style: italic;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 66px 362px 0;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 691px;
  margin: 82px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 15px 570px 0 0;
}

.u-section-2 .u-shape-1 {
  width: 570px;
  height: 232px;
  margin: -228px auto 0 0;
}

.u-section-2 .u-image-2 {
  width: 532px;
  height: 403px;
  margin: -838px 0 0 auto;
}

.u-section-2 .u-shape-2 {
  width: 532px;
  height: 290px;
  margin: -158px 0 0 auto;
}

.u-section-2 .u-text-3 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -132px 0 0 608px;
}

.u-section-2 .u-image-3 {
  width: 529px;
  height: 430px;
  margin: 96px 0 0 auto;
}

.u-section-2 .u-shape-3 {
  width: 521px;
  height: 361px;
  margin: -221px 8px 0 auto;
}

.u-section-2 .u-text-4 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -132px 0 0 611px;
}

.u-section-2 .u-image-4 {
  width: 570px;
  height: 783px;
  margin: -297px auto 0 0;
}

.u-section-2 .u-text-5 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 15px 570px 0 0;
}

.u-section-2 .u-shape-4 {
  width: 570px;
  height: 207px;
  margin: -199px auto 0 0;
}

.u-section-2 .u-image-5 {
  width: 529px;
  height: 390px;
  margin: -530px 0 0 auto;
}

.u-section-2 .u-text-6 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 15px 38px 0 588px;
}

.u-section-2 .u-shape-5 {
  width: 532px;
  height: 220px;
  margin: -213px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1508px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -9px;
    margin-left: 100px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 470px;
    margin-left: 100px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -777px;
    margin-right: 100px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -95px;
    margin-right: 100px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 268px;
    margin-right: 100px;
    margin-left: 508px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -308px;
    margin-right: 100px;
  }

  .u-section-2 .u-shape-3 {
    margin-top: -20px;
    margin-right: 108px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 147px;
    margin-right: 100px;
    margin-left: 511px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -872px;
    margin-left: 100px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 16px;
    margin-right: 470px;
    margin-left: 100px;
  }

  .u-section-2 .u-shape-4 {
    margin-left: 100px;
  }

  .u-section-2 .u-image-5 {
    margin-top: -229px;
    margin-right: 100px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 100px;
    margin-left: 526px;
  }

  .u-section-2 .u-shape-5 {
    margin-right: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1224px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 210px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 360px;
    margin-left: 210px;
  }

  .u-section-2 .u-image-2 {
    margin-right: 210px;
  }

  .u-section-2 .u-shape-2 {
    margin-right: 210px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 210px;
    margin-left: 398px;
  }

  .u-section-2 .u-image-3 {
    margin-right: 210px;
  }

  .u-section-2 .u-shape-3 {
    margin-top: -421px;
    margin-right: 218px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 210px;
    margin-left: 401px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -471px;
    margin-left: 210px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 360px;
    margin-left: 210px;
  }

  .u-section-2 .u-shape-4 {
    margin-left: 210px;
  }

  .u-section-2 .u-image-5 {
    margin-top: -530px;
    margin-right: 210px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 210px;
    margin-left: 416px;
  }

  .u-section-2 .u-shape-5 {
    margin-right: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 991px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 655px;
    margin-top: 82px;
    margin-left: 300px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -838px;
    margin-right: 300px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -158px;
    margin-right: 300px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -132px;
    margin-right: 300px;
    margin-left: 308px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 96px;
    margin-right: 300px;
  }

  .u-section-2 .u-shape-3 {
    margin-top: -221px;
    margin-right: 308px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -132px;
    margin-right: 300px;
    margin-left: 311px;
  }

  .u-section-2 .u-image-4 {
    width: 540px;
    height: 742px;
    margin-top: -297px;
    margin-left: 300px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 15px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-2 .u-shape-4 {
    width: 540px;
    margin-left: 300px;
  }

  .u-section-2 .u-image-5 {
    margin-right: 300px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 300px;
    margin-left: 326px;
  }

  .u-section-2 .u-shape-5 {
    margin-right: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 295px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 412px;
    margin-left: 400px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
    margin-left: 400px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 257px;
    margin-right: auto;
    margin-left: 400px;
  }

  .u-section-2 .u-shape-2 {
    width: 340px;
    margin-top: -13px;
    margin-right: auto;
    margin-left: 400px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-2 .u-image-3 {
    width: 340px;
    height: 276px;
    margin-right: auto;
    margin-left: 400px;
  }

  .u-section-2 .u-shape-3 {
    width: 340px;
    margin-top: -67px;
    margin-right: auto;
    margin-left: 400px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-2 .u-image-4 {
    width: 340px;
    height: 467px;
    margin-left: 400px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-2 .u-shape-4 {
    width: 340px;
    margin-left: 400px;
  }

  .u-section-2 .u-image-5 {
    width: 340px;
    height: 251px;
    margin-right: auto;
    margin-left: 400px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-2 .u-shape-5 {
    width: 340px;
    margin-right: auto;
    margin-left: 400px;
  }
} .u-section-3 {
  background-image: url("images/9899d589c9b35e30d5d27e3ec647a8a4fc68161ee15c5090dd39e1635db5ccd27ea9c804d18f9a49ca75d6cf334aa8278bafd57d549dc31b3097a5_1280.png");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 688px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 152px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 567px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 60px;
    font-weight: normal;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 434px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 326px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 205px;
  }
}