 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/gb6d435eeb78a2288c49833db6ba528bae71d1b6298f2751891a224f8fb7a9a61b84e1cf98449aa3b66b5cc8a60f4be37384823def60a3ab2d34a3081697b2085_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 990px;
}

.u-section-1 .u-text-1 {
  margin: 43px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 0.875rem;
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  margin: -63px auto 0 -102px;
}

.u-section-1 .u-form-1 {
  height: 465px;
  width: 570px;
  margin: 163px auto 60px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 816px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 625px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 469px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 295px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}