<title>Trouvaille | Error</title>
<h1>Verification failed !</h1>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h3>Entered credentials were invalid. Proceed to the homepage and try again.</h3>
<a href="https://risshab.pythonanywhere.com/trials/home" class="w3-bar-item w3-button"><i class="fa fa-sign-out"></i>HOME</a>
