
<body>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    body {font-family: Arial, Helvetica, sans-serif;}
    * {box-sizing: border-box;}

    .input-container {
      display: -ms-flexbox; /* IE10 */
      display: flex;
      width: 100%;
      margin-bottom: 15px;
      background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Mountains-1412683.svg/1280px-Mountains-1412683.svg.png) no-repeat center center;
      background-size: cover;
    }

    .icon {
      padding: 10px;
      background: dodgerblue;
      color: white;
      min-width: 50px;
      text-align: center;
    }

    .input-field {
      width: 100%;
      padding: 10px;
      outline: none;
    }

    .input-field:focus {
      border: 2px solid dodgerblue;
    }

    /* Set a style for the submit button */
    .btn {
      background-color: dodgerblue;
      color: white;
      padding: 15px 20px;
      border: none;
      cursor: pointer;
      width: 100%;
      opacity: 0.9;
    }

    .btn:hover {
      opacity: 1;
    }
    </style>

    <title>Trouvaille | Login</title>
    <h1>Login</h1>
        <form action="verification" method="post">
            {% csrf_token %}
            <i class="fa fa-user icon"></i>
            Username : <input type="text" name="user" placeholder='Enter username'><br><br>
            <i class="fa fa-key icon"></i>
            Password : <input type="text" name = "pass" placeholder='Enter password'><br><br>
            <input type="submit" value="Submit">
        </form>
    New to <i>Trouvaille? </i>Click <a href=''>here</a> to register now.
<!--
    <form action="verification" method='post' style="max-width:500px;margin:auto">
        {% csrf_token %}
      <h2>Register Now!</h2>
      <div class="input-container">

        <input class="input-field" type="text" placeholder="Username" name="user1">
      </div>

      <div class="input-container">
        <i class="fa fa-envelope icon"></i>
        <input class="input-field" type="text" placeholder="Email" name="user">
      </div>

      <div class="input-container">
        <i class="fa fa-key icon"></i>
        <input class="input-field" type="password" placeholder="Password" name="pass">
      </div>

      <input type="submit" value="Submit">
    </form>

-->
</body>