<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trouvaille | Travel Information</title>
    <link href='https://fonts.googleapis.com/css?family=League Gothic' rel='stylesheet'>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Cinzel Decorative' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Gruppo' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Herr Von Muellerhoff' rel='stylesheet'>
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
          crossorigin="anonymous">
</head>
<body>
<h1>Trouvaille | Travel Information</h1>
<style>
h3{
    font-family:raleway;
}
</style>
<h3>Travel Tips A-Z

Qatar is a destination that offers novel, authentic experiences.  Here are some tips that will help better navigate the local culture and fully enjoy your time in Qatar.

A
Attire

Attitudes towards dress in Qatar are relaxed, but visitors (men as well as women) are expected to show respect for local culture by avoiding excessively revealing clothing in public. It is generally recommended for men and women to ensure their shoulders and knees are covered.

B
Bargaining

This is widely expected at Souq Waqif and other traditional markets.

C
Currency

The Qatari riyal is the only currency used in the country and can be obtained through ATMs which are widely available in malls, hotels and around Doha. The Qatari Riyal (QR) is pegged against the US Dollar at QAR 3.64

Currency Import regulations

When bringing local currency (Qatar Riyal-QAR) and all other foreign currencies amounts equal to or higher than QAR 50,000 must be declared on arrival. This includes jewelry, precious metals or stones valued at QAR 50,000 or higher.

Customs regulations

To read about customs regulations in Qatar and other related information, click here.

D
Disabled access

The Accessible Qatar smartphone app provides information about accessibility and facilities at different public and touristic venues across the country.
Ooredoo Qatar has partnered with Wheel the World to offer accessible tourist experiences to differently abled visitors.
In case of emergency, following specialised services are accessible for the deaf:
Call 992 using the 3G camera on your computer or cell phone;
Send an SMS to 992 clearly stating your problem and what service you need (ambulance, fire rescue, police), as well as your name, address, and any details;
Send an e-mail to 992@moi.gov.qa (it may take some time before you receive a response)
Drinking water

The World Health Organization estimates that 99% of Qatar has access to drinkable tap water. However, bottled water is widely consumed in Qatar with plenty of local and imported brands widely available.

E
Electric supply

The standard voltage is 240 V and the frequency is 50 Hz. Plug points are the same as in the UK. To use electric appliances made for the range of 100 V - 127 V (as is in the US, Canada and most South American countries), one needs a voltage converter or a combined power plug adapter/voltage converter.

Emergency telephone numbers

Police, Fire, Ambulance:

999

Traffic & Patrol Police Department:

4890666



Embassies & Consulates

Doha is home to over 100 foreign embassies and a consulate. These are open for business from Sunday to Thursday and closed on Friday and Saturday, as well as all public holidays of both Qatar and the embassy's home country.

F
Friday timings

All business and commercial activity shuts down during Friday prayers in the morning (around 10am -12pm).  Several shops remain closed on Fridays while malls open in the afternoon on Fridays.

G
Greetings

Qatari ladies will not shake hands with men, and many men will not shake a lady’s hand as a gesture of respect.

H
Healthcare facilities

In case of emergency, visitors can go to Hamad General Hospital’s network of hospitals and healthcare centers for care.

I
Internet Connectivity

Qatar is the world’s first country to introduce a commercial 5G network. Free WIFI facilities are available at the Hamad International Airport and most public places including shopping malls, restaurants and parks.

Islamic Holidays

Eid Al Fitr marks the end of Ramadan, the month-long period of fasting.  It is spent with family and friends, with much feasting, and goes on for three days, though shops and private businesses may reopen after one or two days.

The Hajj pilgrimageends with Eid Al Adha, also known as the “feast of sacrifice” and continues for four days.

L
Language

Home to around a hundred nationalities, Qatar is a melting pot of cultures with numerous languages being spoken. Being an Arab country, the official language is Arabic, but English is commonly spoken at all public places.

M
Meet & Greet Services

Passengers arriving, departing or transiting through Hamad International Airport can avail Al Maha personalised Meet & Greet Services at Hamad International Airport.

O
Official holidays

Qatar National Day is celebrated on 18 December. Sports Day is also a national holiday celebrated on the second Tuesday of February each year. In addition to these two holidays the country is closed for three days during Eid al Fitr and Eid al Adha.

P
Public Display of Affection

As in all Middle Eastern countries, showing overt affection and intimacy in public is frowned upon.

R
Ramadan

During the Islamic month of Ramadan, visitors are expected to refrain from eating, drinking and smoking in public places during the daylight hours out of respect to those who are fasting.  Hotels continue to cater to guests by opening restaurants that are out of the public’s view.

Religion

Qatar is a Muslim country and Islam plays an integral role in daily life. Prayers take place five times per day: at dawn (Fajr), around midday (Duhr), in mid-afternoon (A'asr), at sunset (Maghrib) and about two hours after sunset (‘Esha). The exact timing varies each day according to the sun's position.

S
Safety

Qatar has been ranked first in terms of safety and security, according Numbeo Crime Index 2020, the world’s largest database of user contributed data on cities and countries.

Smoking

Smoking is prohibited in all public spaces including museums, sports clubs, shopping malls and restaurants. Violators can be subject to fines between QAR 1000-3000.

Stopover

Passengers transiting through Doha can take advantage of Qatar’s unmatched stopover program to explore the destination. The +Qatar program offers great deals at 4- and 5- Star hotels.

T
Tipping

Most hospitality outlets in Qatar include a service charge in the bill. However, a tip of 10-15% as a gesture of satisfaction is appreciated. It is advisable to carry cash for tipping.

Time zone

GMT + 3

Traffic

Qatar drives on the right hand side of the road.

W
Weather

Qatar has a desert climate with year-round sunshine, extreme temperatures during summer and mild winters. Average monthly temperatures range from 17°C in January to 36°C in July, sometimes reaching highs of 40°C+ during the summer months.

Y
Year of Culture

Conceived of in 2012 The Year of Culture is an initiative by Qatar Museums. Taking place with another country, the year-long cultural exchange programme invites people to explore a new culture, through a variety of exhibitions, festivals, competitions and events.</h3>
</body>
</html>